* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, #002e4d, #0093c9);
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #171c46;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.filters {
    margin-bottom: 20px;
}

.filters button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.filters button:hover {
    background: #555;
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.image {
    width: 250px; 
    height: 250px; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.image:hover {
    transform: scale(1.05);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.image-expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    display: none;
}