/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, #fdbb2d, #22c1c3);
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #171c46;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    opacity: 0.5;
    transform: scale(0.8);
}

.carousel-item.active {
    opacity: 1;
    transform: scale(1);
}

.carousel-item.prev,
.carousel-item.next {
    opacity: 0.8;
    transform: scale(0.9);
}

.carousel-item img {
    width: 100%;
    height: 500px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1000;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}